@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Ibarra+Real+Nova:wght@500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family:"Hind Madurai", sans-serif;
  background: linear-gradient(167.33deg, #FFFFFF 20.36%, #F1F1F1 88.41%);

}